<nav>
  <div class="nav-wrapper light-blue lighten-3">
    <a href="/" class="brand-logo">Music Events</a>
    <ul class="right">
      <li>
        <a href="/festivals">Music Events</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>